DATABASE_URL=sqlite+aiosqlite:///./theater.db

#EMAIL
EMAIL_ADDRESS=trukhanov.danya@gmail.com
EMAIL_PASSWORD=zrtrzknskpqotoyh
SMTP_SERVER=smtp.gmail.com
EMAIL_PORT=587
#JWT
SECRET_ACCESS_TOKEN_KEY=fc353f1b9ed57f8adcd0c63cfdfe3cbdfc66383354c9f8433c6e8ad1181b7f68
SECRET_REFRESH_TOKEN_KEY=808aa775c3d994c2ce0c319eb4820c2a675ad48ff8b1c2adcd0154debeb57ec3
JWT_ALGORITHM = HS256
#S3Storage
S3_ACCESS_KEY=<secret_access_key>
S3_SECRET_KEY=<secret_key>
S3_ENDPOINT_URL=https://s3.eu-central-1.amazonaws.com
S3_BUCKET_NAME=cinem-api
